*
*/**
!.vscode/dialect.json
!out/src/**/*.js
!out/src/**/*.pl
!out/src/**/*.ecl
!out/src/**/*.eco
!snippets/*.json
!syntaxes/*.json
!images/**/*
!README.md
!package.json
!CHANGELOG.md
!prolog.configuration.json
!LICENSE.txt
!node_modules/bluebird/**/*
!node_modules/find-in-files/**/*
!node_modules/find/**/*
!node_modules/fs-extra/**/*
!node_modules/fs-extra-plus/**/*
!node_modules/graceful-fs/**/*
!node_modules/jsesc/**/*
!node_modules/js-string-escape/**/*
!node_modules/jsonfile/**/*
!node_modules/os/**/*
!node_modules/path-parse/**/*
!node_modules/process-promises/**/*
!node_modules/q/**/*
!node_modules/readline-promise/**/*
!node_modules/resolve/**/*
!node_modules/split/**/*
!node_modules/stack-trace/**/*
!node_modules/through/**/*
!node_modules/traverse-chain/**/*
!node_modules/universalify/**/*
!node_modules/vscode-debugadapter/**/*
!node_modules/vscode-debugprotocol/**/*
!node_modules/yamljs/**/*
