*
*/**
!out/src/**/*.js
!out/src/**/*.pl
!node_modules/vscode-debugprotocol/**/*
!syntaxes/*.json
!snippets/prolog.tmLanguage.json
!README.md
!package.json
!CHANGELOG.md
!prolog.configuration.json
!LICENSE.txt
